<div class="addgig">
    <h1>Add A New Gig</h1>
    <form class="addform" ng-submit="addGig(g)" ng-controller="GigCtrl">
        <input type="text" ng-model="g.venueName" placeholder="Enter Venues Name" />
        <!-- <input type="text" ng-model="g.website" placeholder="Enter Venue Website " />
        <input type="text" ng-model="g.date" placeholder="Enter Date of Gig " />
        <input type="text" ng-model="g.time" placeholder="Enter The Gigs Time (ie: 5pm-9pm)" />
        <input type="text" ng-model="g.loadin" placeholder="Enter Load in Time (ie: 5pm-9pm)" />
        <input type="text" ng-model="g.location" placeholder="Enter Address" />
        <br/>
        <input type="text" ng-model="g.sets" placeholder="How many sets" />

         -->

        <button>Add Gig</button>
    </form>
</div>

test