@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// ***********************Global Styles ****************************
body {
    font-family: 'Karla', sans-serif;
    margin: 0 auto;
    h1 {
        color: #65666b;
    }
}

body:before {
          content: "";
          position: fixed;
          top: -10px;
          left: 0;
          width: 100%;
          height: 10px;

          -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
          -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
          box-shadow: 0px 0px 10px rgba(0,0,0,.8);

          z-index: 100;
}
.container {
    clear: both;
    width: 95%;
    margin: 0 auto;
}

// ***********************Global Buttons ************************
md-select {
    display: block;
    width: 386px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.05em;
    color: #65666b;
    &:hover {
        color: black;
    }
}

// ***********************Login Page Styles *************************
.loginpage {
    padding-top: 15%;
    margin: 0 auto;
    h2 {
        color: #65666b;
        margin: 0;
        text-align: center;
        font-size: 2rem;
    }
    .inputlog {
        width: 250px;
        margin: 0 auto;
    }
    .buttonlog {
        margin: 0 auto;
        text-align: center;
    }
}

//*********************** Header Styles **************************
header {
    height: 60px;
    padding-top: 10px;
    background-color: #f6f6f6;
    border-bottom: solid 1px #dfdfdf;
    a {
        text-decoration: none;
        color: #65666b;
        &:hover {
            color: black;
        }
    }
    .head-left {
        float: left;
        width: 30%;
        h2 {
            display: inline;
            font-weight: 400;
            font-size: 2rem;
            margin-left: 7%;
        }
    }
    .head-right {
        float: right;
        margin-right: 4%;
        margin-top: 5px;
        a {
            font-size: 1.5rem;
            padding-left: 15px;
        }
    }
}

.topnavselect {
    display: block;
    width: 150px;
    float: right;
    margin-top: -30px;
    text-decoration: none;
    font-size: 1.05em;
    color: #65666b;
    &:hover {
        color: black;
    }
}

// *********************** Portal Page ****************************
.portalmain {
    margin-bottom: 50px;
    margin: 0 auto;
}

.portal-left {
    margin: 0 auto;
    h2 {
        text-align: center;
        color: #65666b;
        font-size: 2.5rem;
        margin: 0;
    }
}

.listGigs {
    width: 310px;
    height: 240px;
    text-align: center;
    color: #65666b;
    overflow: auto;
    box-shadow: 1px 1px 1px 2px hsla(360, 5%, 8%, 0.3);
    margin-left: 6%;
    margin-bottom: 29px;
    padding: 5px;
    float: left;
}

.portal-sets {
    margin: 0 auto;
    clear: both;
    h2 {
        text-align: center;
        color: #65666b;
        font-size: 2.5rem;
        margin: 0;
    }
}

.listsets {
    width: 310px;
    height: 190px;
    text-align: center;
    color: #65666b;
    overflow: auto;
    box-shadow: 1px 1px 1px 2px hsla(360, 5%, 8%, 0.3);
    margin-left: 6%;
    margin-top: 29px;
    padding: 5px;
    float: left;
}

// *********************** Venue Styles ***********************
.venueh2 {
    text-align: center;
    color: #65666b;
    font-size: 2.5rem;
    margin: 0;
}

.newvenue {
    text-align: center;
    color: #65666b;
    font-size: 2.5rem;
    margin: 0;
    float: right;
    margin-top: -8px;
}

.venuelist {
    width: 240px;
    height: 100px;
    overflow: auto;
    box-shadow: 1px 1px 1px 2px hsla(360, 5%, 8%, 0.3);
    margin-left: 3%;
    text-align: center;
    padding: 10px;
    float: left;
    margin-top: 10px;
    vertical-align: center;
    span {
        margin-right: 5px;
    }
}

table {
    margin: 0 auto;
    tr,
    th,
    td {
        border: 1px solid hsla(225, 2%, 67%, 0.5);
        padding: 10px;
        text-align: center;
    }
}

.headtr {
    background-color: #65666b;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
    th:hover {
        background-color: hsla(225, 2%, 67%, 0.3);
        a {
            text-decoration: underline;
        }
    }
}

.tr-each {
    .namehover {
        text-decoration: none;
        color: #65666b;
        transition: ease 0.4s;



        &:hover{
            color: black;
            margin-left: 5px;
            transition: ease 0.6s;


        }
    }
}

.tr-each {
    .emailhover {
        text-decoration: none;
        color: #65666b;




        &:hover{
            color: black;
         


        }
    }
}

// *********************** Download page Styles ********************
#cmd {
    // display: block;
    float: right;
      margin-top: -20px;

    // text-align: center;
    // margin: 0 auto;
} .hr {
    display: block;
    height: 10px;
    border: 0;
    border-top: 1px solid white;
    margin: 0;
    padding: 0;
}

.singleformsetdownload {
    font-size: 35px;
}

//*********************** Song / Lyric Styles ***************************
.lyricsview {
    margin: 0 auto;
    textarea {
        outline: none !important;
        text-align: center;
        border-radius: 3px;
        display: block;
        margin: 0 auto;
        overflow: auto;
        // box-shadow: 0.1px 0.1px 0.1px .12px hsla(360, 5%, 8%, 0.3);
        border: 0px solid hsla(360, 5%, 8%, 0.3);
        padding: 5px;
        resize: none;
    }
    h3 {
        text-align: center;
        color: #65666b;
        font-size: 2rem;
        margin: 0;
    }
}


//*********************** ICON Styles *****************************

.fa {
    color: #65666b;
    &:hover {
        color: black;
    }
}
.fa-trash-o {
    margin-left: 7px;
}

//*********************** Footer Styles ********************************

footer {
    clear: both;
    height: 100px;
}
