
 @import '../../bower_components/bourbon/dist/bourbon';
 @import '../../bower_components/neat/app/assets/stylesheets/neat';


 body {
     font-family: 'Karla', sans-serif;
 }
 
 .container {
    clear: both;
    width: 90%;
    margin: 0 auto;
 }
 
 //Login Page Styles
 .loginpage {
     padding-top: 15%;
     margin: 0 auto;
     h2 {
         color: #65666b;
         margin: 0;
         text-align: center;
         font-size: 2rem;
     }
     .inputlog {
         width: 250px;
         margin: 0 auto;
     }
     .buttonlog {
        margin: 0 auto;
        text-align: center;
     }
 }

//Header Styles
 header {
     height: 60px;
     padding-top: 10px;
     background-color: #f6f6f6;
     border-bottom: solid 1px #dfdfdf;
     a{
        text-decoration: none;
        color: #65666b;

        &:hover{
            color: black;

        }
     }

     .head-left {
         float: left;
         width: 30%;
         h2 {
             display: inline;
             font-weight: 400;
             font-size: 2rem;
             margin-left: 7%;

         }
     }
     .head-right {
         float: right;
         margin-right: 4%;
         margin-top: 5px;


         a{
            font-size: 1.5rem;
            padding-left: 15px;
         }
     }
 }



