<div class="addvenue">
    <h1>Add A New Venue</h1>
    <form class="addform" ng-submit="addVenue(v)">

	<!-- Enter Venues Name -->
  <div layout layout-md="column">
    <md-input-container class="venueAdd" flex>
        <label>Venue Name</label>
        <input type="text" ng-model="v.venue"/>
      </md-input-container>
      <md-input-container class="venueAdd" flex>
        <label>Event Played ie: St Pattys</label>
        <input type="text" ng-model="v.venueevent"/>
      </md-input-container>
</div>
      <div layout layout-md="column">

     <md-input-container class="venueAdd"flex>
        <label>Venue Address</label>
        <input type="text" ng-model="v.venueaddress"/>
      </md-input-container>
      <md-input-container class="venueAdd"flex>
        <label>Venue City</label>
        <input type="text" ng-model="v.venuecity"/>
      </md-input-container>
      <md-input-container class="venueAdd" small>
        <label>Venue State</label>
        <input type="text" ng-model="v.venuestate"/>
      </md-input-container>
      <md-input-container class="venueAdd" small>
        <label>Venue ZipCode</label>
        <input type="text" ng-model="v.venuezip"/>
      </md-input-container>
</div>

      <div layout layout-md="column">

     <md-input-container class="venueAdd"flex>
        <label>Venue's Contact Name</label>
        <input type="text" ng-model="v.venuecontact1"/>
      </md-input-container>
      <md-input-container class="venueAdd"flex>
        <label>Contacts Email</label>
        <input type="text" ng-model="v.venueemail"/>
      </md-input-container>
      <md-input-container class="venueAdd" flex>
        <label>Contacts Phone #</label>
        <input type="text" ng-model="v.venuephone"/>
      </md-input-container>
      
</div>
      <div layout layout-md="column">


<md-input-container class="venueAdd"flex>
        <label>2nd Venue's Contact Name</label>
        <input type="text" ng-model="v.venuecontact2"/>
      </md-input-container>
      <md-input-container class="venueAdd"flex>
        <label>2nd Contacts Email</label>
        <input type="text" ng-model="v.venueemail2"/>
      </md-input-container>
      <md-input-container class="venueAdd" flex>
        <label>2nd Contacts Phone #</label>
        <input type="text" ng-model="v.venuephone2"/>
      </md-input-container>
      
</div>

      <md-button aria-label="song" class="md-raised">Add Venue</md-button>
	</form>
</div>