<h1>Edit {{s.setTitle}}</h1>
  <div id="singleformset">

    <form class="singleformset" ng-submit="editSet(s)" ng-controller="EditSetCtrl" >

	<!-- Enter Venues Name -->
    <md-input-container class="setsAdd">
        <label>Set Title ie: Fado 7/31 Set 1</label>
        <input type="text" ng-model="s.setTitle"/>
      </md-input-container>


      <div layout layout-md="column">
      <md-input-container class="setsAdd" flex>
        <label>Set Date</label>
        <input type="text" ng-model="s.setDate"/>
      </md-input-container>
      <md-input-container class="setsAdd" flex>
        <label>Set Length</label>
        <input type="text" ng-model="s.setLength"/>
      </md-input-container>
    </div>

<div layout layout-md="column">

      <!-- Enter Venues Address -->
      <!-- <md-input-container class="setsAdd" small>
        <label>Song Order #</label>
        <input type="text" ng-model="s.songNum"/>
      </md-input-container> -->
	<md-input-container class="setsAdd" flex>
        <label>Add Songs</label>
        <!-- <input type="text" ng-model="s.song"/> -->
        <textarea ng-model="s.song" style="text-align: center;"></textarea>
      </md-input-container>
</div>

<md-button class="md-raised">Save Set</md-button>

</form>
</div>
<md-button class="md-raised" ng-click="deleteMe(s.objectId, $index)" ng-controller="SetCtrl">Delete Set</md-button>


<!-- 
<a ui-sref="portal.download({id: s.objectId})">
<md-button class="md-raised">Download Set</md-button>
</a>
 -->





