<h2 class="venueh2">The Band Bio's</h2>

<a ui-sref="portal" class="newvenue1"><md-button aria-label="song" class="md-raised"><i class="fa fa-arrow-left"></i></md-button></a>

<!-- <a ui-sref="portal.venueContact" class="newvenue" ><md-button aria-label="song" class="md-raised">Venue Contact List</md-button></a> -->


<br>
<hr>
<br>

<div class="biopage" ng-repeat="a in abouts">
 <a ui-sref="portal.editabout({id: a.objectId })" class="newvenue" ><md-button aria-label="song" class="md-raised">Edit The Bio's</md-button></a>
<br>
	<h3>Band's Bio</h3>
		<textarea readonly>{{ a.bandbio }}</textarea>
	<h3>Doug's Bio</h3>
		<textarea readonly>{{ a.dougbio }}</textarea>
	<h3>Julie's Bio</h3>
		<textarea readonly>{{ a.juliebio }}</textarea>
	<h3>David's Bio</h3>
		<textarea readonly>{{ a.davidbio }}</textarea>
	<h3>Jason's Bio</h3>
		<textarea readonly>{{ a.jasonbio }}</textarea>
	<h3>Andy's Bio</h3>
		<textarea readonly>{{ a.andybio }}</textarea>
	<h3>Mike's Bio</h3>
		<textarea readonly>{{ a.mikebio }}</textarea>

</div>

