<div class="addset">
    <h1>Add A New Set</h1>
    <form class="addformset" ng-submit="addSet(s)" ng-controller="SetCtrl" >

	<!-- Enter Venues Name -->
    <md-input-container class="setsAdd" >
        <label>Set Title ie: Fado Set 1</label>
        <input type="text" ng-model="s.setTitle" required/>
      </md-input-container>


      <div layout layout-md="column">
      <md-input-container class="setsAdd" flex>
        <label>Gig Date</label>
        <input type="text" ng-model="s.setDate"/>
      </md-input-container>
      <md-input-container class="setsAdd" flex>
        <label>Serial Numer</label>
        <input type="text" ng-model="s.setSNumber"/>
      </md-input-container>
      <md-input-container class="setsAdd" flex>
        <label>Length of Set</label>
        <input type="text" ng-model="s.setLength"/>
      </md-input-container>
      
      </div>

     <!--  <md-input-container class="setsAdd">
    <label>Songs</label>
      <textarea ng-model="s.song" aria-label="song" style="text-align: center;"></textarea>
      </md-input-container> -->

      <div class="sont" ng-controller="SongCtrl">
      
      <md-select placeholder="Songs" ng-model="s.songsinset1" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" flex>{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
       <md-select placeholder="Songs" ng-model="s.songsinset2" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
       <md-select placeholder="Songs" ng-model="s.songsinset3" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
       <md-select placeholder="Songs" ng-model="s.songsinset4" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
       <md-select placeholder="Songs" ng-model="s.songsinset5" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
       <md-select placeholder="Songs" ng-model="s.songsinset6" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
       <md-select placeholder="Songs" ng-model="s.songsinset7" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset8" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset9" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset10" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset11" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset12" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset13" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset14" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset15" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset16" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset17" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset18" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset19" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset20" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset21" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>
      <md-select placeholder="Songs" ng-model="s.songsinset22" ng-controller="SongCtrl">
        <md-option ng-repeat="so in songs | orderBy:'songtitle'" >{{so.songtitle}} ({{so.songnotes}})</md-option>
      </md-select>

</div>


<md-button class="md-raised">Add Set</md-button>

</form>