<div class="addgig">
    <h1>Add A New Gig</h1>
    <form class="addform" ng-submit="addBlog(b)" ng-controller="BlogCtrl" >

	<!-- Enter Venues Name -->
    <md-input-container class="blogsAdd">
        <label>Venue Name</label>
        <input type="text" ng-model="b.venueName"/>
      </md-input-container>


<div layout layout-md="column">

      <!-- Enter Venues Address -->
      <md-input-container class="blogsAdd" flex>
        <label>Venue Address</label>
        <input type="text" ng-model="b.address"/>
      </md-input-container>
	<md-input-container class="blogsAdd" flex>
        <label>Venue City</label>
        <input type="text" ng-model="b.city"/>
      </md-input-container>
      <md-input-container class="blogsAdd" flex>
        <label>Venue State</label>
        <input type="text" ng-model="b.state"/>
      </md-input-container>
      <md-input-container class="blogsAdd" flex>
        <label>Venue Zipcode</label>
        <input type="text" ng-model="b.zip"/>
      </md-input-container>
</div>

	<!-- Enters Website Address -->
       <md-input-container class="blogsAdd">
        <label>Website</label>
        <input type="text" ng-model="b.website"/>
      </md-input-container>





<div layout layout-md="column">
		<md-input-container class="blogsAdd" flex>
        <label>Gig Serial Number</label>
        <input type="text" ng-model="b.serialnumber"/>
      </md-input-container>

</div>
       

       
        <div class="buttonlog">
 <md-button class="md-raised">Add Blog Post</md-button>
 </div>

    </form>
</div>

