<div class="addsong">
    <h1>Add A New Song</h1>
    <form class="addform" ng-submit="addSong(so)">

	<!-- Enter Venues Name -->
  <div layout layout-md="column">

    <md-input-container class="songAdd" flex>
        <label>Song Name</label>
        <input type="text" ng-model="so.songtitle"/>
      </md-input-container>

      <md-input-container class="songAdd" flex>
        <label>Song Notes (2 clicks)</label>
        <input type="text" ng-model="so.songnotes"/>
      </md-input-container>

</div>

<div layout layout-md="column">
       <md-input-container class="songAdd" flex>
        <label>Band / Artist</label>
        <input type="text" ng-model="so.band"/>
      </md-input-container>
      <md-input-container class="songAdd" flex>
        <label>Andy / Julie</label>
        <input type="text" ng-model="so.whosings"/>
      </md-input-container>
      </div>


<div layout layout-md="column">
       <md-input-container class="songAdd" flex>
        <label>Tempo</label>
        <input type="text" ng-model="so.tempo"/>
      </md-input-container>

       <md-input-container class="songAdd" flex>
        <label>Key of Song</label>
        <input type="text" ng-model="so.key"/>
      </md-input-container>

       <md-input-container class="songAdd" flex>
        <label>Length of Song</label>
        <input type="text" ng-model="so.length"/>
      </md-input-container>
</div>

<div layout layout-md="column">
       <md-input-container class="songAdd" flex>
       <label>Song Lyrics</label>
          <textarea ng-model="so.lyrics"></textarea>
       </md-input-container>

       <md-input-container class="songAdd" flex>
       <label>Song Chords</label>
          <textarea ng-model="so.chords"></textarea>
       </md-input-container>

</div>

      <md-button class="md-raised">Add Song</md-button>
</form>
</div>