<div class="addPost">
    <h1>Add A New Post</h1>
    <form class="addform" ng-submit="addBlog(b)" ng-controller="BlogCtrl" >

<div layout layout-md="column">

 
      <md-input-container class="blogsAdd" flex>
        <label style="color: #ffffff;">Post Title</label>
        <input type="text" ng-model="b.title"/>
      </md-input-container>
	<md-input-container class="blogsAdd" flex>
        <label style="color: #ffffff;">Author</label>
        <input type="text" ng-model="b.author"/>
      </md-input-container>
      <md-input-container class="blogsAdd" flex>
        <label style="color: #ffffff;">Date</label>
        <input type="text" ng-model="b.date"/>
      </md-input-container>
      
</div>

	<!-- Enters Website Address -->
       <md-input-container class="blogsAdd">
        <label style="color: #ffffff;">Content</label>
        <textarea type="text" ng-model="b.content"></textarea>
      </md-input-container>





<div layout layout-md="column">
		<md-input-container class="blogsAdd" flex>
        <label style="color: #ffffff;">Post Serial Number</label>
        <input type="text" ng-model="b.serialnumber"/>
      </md-input-container>

</div>
       

       
        <div class="buttonlog">
 <md-button class="md-raised">Add Blog Post</md-button>
 </div>

    </form>
</div>

