<h2 class="venueh2">Editing {{so.songtitle}}</h2>
<!-- 
<a ui-sref="portal.viewLyrics({id: so.objectId })" class="newvenue1"><md-button aria-label="song" class="md-raised"><i class="fa fa-arrow-left"></i></md-button></a>
 -->
<!-- <a ui-sref="portal.singleSong({id: so.objectId })" class="newvenue" ><md-button aria-label="song" class="md-raised">Save Lyrics</md-button></a> -->


<br>



<div class="editLyrics">
<form class="addform" ng-submit="editLyric(so)">

      <md-button style="display: block; margin: 0 auto;" class="md-raised">Save Song</md-button>
      <hr>


<br>

<div layout layout-md="column">
       <md-input-container class="songAdd" flex>
       <label>Song Lyrics</label>
          <textarea ng-model="so.lyrics"></textarea>
       </md-input-container>

       <md-input-container class="songAdd" flex>
       <label>Song Chords</label>
          <textarea ng-model="so.chords"></textarea>
       </md-input-container>

</div>
</form>
</div>