<div class="addset">
    <h1>Add Image</h1>
    <form class="addformset" ng-submit="addMedia(m)" ng-controller="MediaCtrl" >

	<!-- Enter Venues Name -->
    <md-input-container class="setsAdd" >
        <label>Image Title</label>
        <input type="text" ng-model="m.imgtitle" required/>
      </md-input-container>
      <md-input-container class="setsAdd" >
        <label>Image Link (*Must be a url)</label>
        <input type="text" ng-model="m.imglink" required/>
      </md-input-container>
       


<md-button class="md-raised">Add Image</md-button>

</form>
</div>