<div class="addgig">
    <h1>Add A New Gig</h1>
    <form class="addform" ng-submit="addGig(g)" ng-controller="GigCtrl" >

	<!-- Enter Venues Name -->
    <md-input-container class="gigsAdd">
        <label>Venue Name</label>
        <input type="text" ng-model="g.venueName"/>
      </md-input-container>


<div layout layout-md="column">

      <!-- Enter Venues Address -->
      <md-input-container class="gigsAdd" flex>
        <label>Venue Address</label>
        <input type="text" ng-model="g.address"/>
      </md-input-container>
	<md-input-container class="gigsAdd" flex>
        <label>Venue City</label>
        <input type="text" ng-model="g.city"/>
      </md-input-container>
      <md-input-container class="gigsAdd" flex>
        <label>Venue State</label>
        <input type="text" ng-model="g.state"/>
      </md-input-container>
      <md-input-container class="gigsAdd" flex>
        <label>Venue Zipcode</label>
        <input type="text" ng-model="g.zip"/>
      </md-input-container>
</div>

	<!-- Enters Website Address -->
       <md-input-container class="gigsAdd">
        <label>Website</label>
        <input type="text" ng-model="g.website"/>
      </md-input-container>



<div layout layout-md="column">
	<!-- Enter Date of Gig -->
       <md-input-container class="gigsAdd" flex>
        <label>Date</label>
        <input type="text" ng-model="g.date"/>
      </md-input-container>

      <!-- Enter Time of Gig -->
       <md-input-container class="gigsAdd" flex>
        <label>Time of Gig (ie: 7pm-10pm)</label>
        <input type="text" ng-model="g.time"/>
      </md-input-container>

      <!-- Enter Load in Time -->
       <md-input-container class="gigsAdd" flex>
        <label>Load-in Time</label>
        <input type="text" ng-model="g.loadin"/>
      </md-input-container>

      <!-- Sound Check -->
       <md-input-container class="gigsAdd" flex>
        <label>Sound Check</label>
        <input type="text" ng-model="g.soundcheck"/>
      </md-input-container>
</div>

<div layout layout-md="column">
		<md-input-container class="gigsAdd" flex>
        <label>Gig Serial Number</label>
        <input type="text" ng-model="g.serialnumber"/>
      </md-input-container>

</div>
       

       
        <div class="buttonlog">
 <md-button class="md-raised">Add Gig</md-button>
 </div>

    </form>
</div>

