<h2 class="venueh2">Blog Post</h2>

<a ui-sref="portal" class="newvenue1"><md-button aria-label="song" class="md-raised"><i class="fa fa-arrow-left"></i></md-button></a>

<a ui-sref="portal.addblog" class="newvenue" ><md-button aria-label="song" class="md-raised">Add A Blog</md-button></a>


<br>
<hr>
<br>


	<div class="bloglist" >
	<table>
	<tr class="headtr">
		<th><a href="" ng-click="order('title')">Title</a></th>
		<th><a href="" ng-click="order('author')">Author</a></th>
		<th><a href="" ng-click="order('date')">Date</a></th>
		<th>View</th>
		<th>Edit</th>
		<th>Delete</th>

	</tr>
	<tr ng-repeat="b in blogs | orderBy:predicate:reverse" class="tr-each">
		<td>{{b.title}}</td>
		<td>{{ b.author }} </td>
		<td>{{ b.date}}</td>
		


		<td><a ui-sref="portal.blogview({id: b.objectId })" class="songedit"><i class="fa fa-eye"></i></a></td>

		<td><a ui-sref="portal.single({id: b.objectId })" class="songedit"><i class="fa fa-pencil"></i></a></td>
		<td><div ng-click="deleteMe(b.objectId, $index)" style=" cursor: pointer;"><i class="fa fa-trash-o"></i></div></td>

	</tr>

	</table>

</div>
	
