<h2 class="venueh2">Blog Post</h2>

<a ui-sref="portal" class="newvenue1"><md-button aria-label="song" class="md-raised"><i class="fa fa-arrow-left"></i></md-button></a>

<a ui-sref="portal.addblog" class="newvenue" ><md-button aria-label="song" class="md-raised">Add A Blog</md-button></a>


<br>
<hr>
<br>


	<div class="songlist" >
	<table>
	<tr class="headtr">
		<th><a href="" ng-click="order('venueName')">Venue</a></th>
		<th><a href="" ng-click="order('day')">Day</a></th>
		<th><a href="" ng-click="order('date')">Date</a></th>
		<th><a href="" ng-click="order('time')">Time</a></th>
		<th><a href="" ng-click="order('loadin')">Load In</a></th>
		<th><a href="" ng-click="order('soundcheck')">Sound Check</a></th>
		<th>View</th>
		<th>Edit</th>
		<th>Delete</th>

	</tr>
	<tr ng-repeat="b in blogs | orderBy:predicate:reverse" class="tr-each">
		<td>{{b.venueName}}</td>
		<td>{{ b.day }} </td>
		<td>{{ b.date}}</td>
		<td>{{ b.time}}</td>
		<td>{{ b.loadin}}</td>
		<td>{{ b.soundcheck}}</td>


		<td><a ui-sref="portal.gigview({id: b.objectId })" class="songedit"><i class="fa fa-eye"></i></a></td>

		<td><a ui-sref="portal.single({id: b.objectId })" class="songedit"><i class="fa fa-pencil"></i></a></td>
		<td><div ng-click="deleteMe(g.objectId, $index)" style="width: 15px; cursor: pointer; margin-left: 10px;"><i class="fa fa-trash-o"></i></div></td>

	</tr>

	</table>

</div>
	
