<h2 class="venueh2">BlogPost</h2>

<a ui-sref="portal" class="newvenue1"><md-button aria-label="song" class="md-raised"><i class="fa fa-arrow-left"></i></md-button></a>

<a ui-sref="portal.addblog" class="newvenue" ><md-button aria-label="song" class="md-raised">Add A Blog</md-button></a>


<br>
<hr>
<br>

<div class="blogView" style="text-align: center;">
<h4 style="margin: 0; text-decoration: underline;">{{ b.title}}</h4>

	            <p style="margin: 4px;"><b>{{ b.author}}</b></p>
	            <p style="margin: 4px;"><b>{{ b.date}}</b></p>
	            <br><br>
	            <md-input-container class="blogsAdd">
       
        <textarea type="text" style="text-align: center;" ng-model="b.content" readonly></textarea>
      </md-input-container>


	            
	            <a ui-sref="portal.single({id: b.objectId})">
	                <md-button class="md-raised">Edit Blog</md-button>
	            </a>

	            </div>