<h2 class="venueh2">Editing The Band Bio's</h2>

<form class="addform" id="bioabout" ng-submit="editAbout(a)">
<a ui-sref="portal.about" class="newvenue1"><md-button aria-label="song" class="md-raised"><i class="fa fa-arrow-left"></i></md-button></a>

<!-- <a ui-sref="portal.venueContact" class="newvenue" ><md-button aria-label="song" class="md-raised">Venue Contact List</md-button></a> -->
<!-- <a ui-sref="portal.editabout" class="newvenue" ><md-button aria-label="song" class="md-raised">Edit The Bio's</md-button></a> -->
<md-button id="savebtn" class="md-raised">Save Bio Changes</md-button>


<br>
<hr>
<br>




    <md-input-container class="venueAdd" flex>
        <label>Band's Bio</label>
        <textarea type="text" ng-model="a.bandbio"></textarea> 
      </md-input-container>
      
       <md-input-container class="venueAdd" flex>
        <label>Doug's Bio</label>
        <textarea type="text" ng-model="a.dougbio"></textarea> 
      </md-input-container>
      
       <md-input-container class="venueAdd" flex>
        <label>Julie's Bio</label>
        <textarea type="text" ng-model="a.juliebio"></textarea> 
      </md-input-container>
      
       <md-input-container class="venueAdd" flex>
        <label>David's Bio</label>
        <textarea type="text" ng-model="a.davidbio"></textarea> 
      </md-input-container>
      
       <md-input-container class="venueAdd" flex>
        <label>Jason's Bio</label>
        <textarea type="text" ng-model="a.jasonbio"></textarea> 
      </md-input-container>
      
       <md-input-container class="venueAdd" flex>
        <label>Andy's Bio</label>
        <textarea type="text" ng-model="a.andybio"></textarea> 
      </md-input-container>

      <md-input-container class="venueAdd" flex>
        <label>Mike's Bio</label>
        <textarea type="text" ng-model="a.mikebio"></textarea> 
      </md-input-container>
      

      
</form>