<div ng-include="'templates/header.tpl.html'" ></div>

<br>

<div class="container" ui-view> 
	<div class="portal-left" ng-controller="BlogCtrl">
	    <h2>Blog Post</h2>
	    <hr>
	    <br>
	    <div class="portalmain">
	        <!-- <a ui-sref=".single"> -->
	        <div class="listBlogs" ng-repeat=" b in blogs | orderBy: 'serialnumber'" id="{{ b.objectId }}">
	            <h4 style="margin: 0;">{{ b.title}}</h4>
	            
	            <p style="margin: 4px;"><b>{{ b.author}}</b></p>
	            <p style="margin: 4px;">{{b.date}}</p>
	            
	            <a ui-sref="portal.single({id: b.objectId})">
	                <md-button class="md-raised">Edit Blog Post</md-button>
	            </a>
	        </div>
	    </div>
	</div>
	
		
</div>


<br>

<div ng-include="'templates/footer.tpl.html'" ></div>
