<div class="addsong">
    <h1>Edit {{ so.songtitle }}</h1>
    <form class="addform" ng-submit="editSong(so)">

	<!-- Enter Venues Name -->
    <md-input-container class="songAdd">
        <label>Song Name</label>
        <input type="text" ng-model="so.songtitle"/>
      </md-input-container>

<div layout layout-md="column">
       <md-input-container class="songAdd" flex>
        <label>Band / Artist</label>
        <input type="text" ng-model="so.band"/>
      </md-input-container>
      <md-input-container class="songAdd" flex>
        <label>Andy / Julie</label>
        <input type="text" ng-model="so.whosings"/>
      </md-input-container>
      </div>


<div layout layout-md="column">
       <md-input-container class="songAdd" flex>
        <label>Tempo</label>
        <input type="text" ng-model="so.tempo"/>
      </md-input-container>

       <md-input-container class="songAdd" flex>
        <label>Key of Song</label>
        <input type="text" ng-model="so.key"/>
      </md-input-container>

       <md-input-container class="songAdd" flex>
        <label>Length of Song</label>
        <input type="text" ng-model="so.length"/>
      </md-input-container>
</div>

      <md-button class="md-raised">Save Song</md-button>
</form>
</div>