<!-- <h4 style="margin: 0;">{{ g.venueName}}  <button class="del-btn" ng-click="deleteMe(g.objectId, $index)">X</button>
</h4>
		<hr>
		<p style="margin: 4px;">{{ g.date}} at {{g.time}}</p>
		<p style="margin: 4px;">{{ g.address}}  {{g.city}}, {{g.state}}, {{g.zip}}</p>
		<p style="margin: 4px;">Load-in:{{ g.loadin}} || Sound Check:{{g.soundcheck}}</p>
		<p style="margin: 4px;"><a href="{{g.website}}">{{g.venueName}}'s Website</a></p> -->



		 <form class="addform" ng-submit="editBlog(b)" ng-controller="EditCtrl" >

	<div layout layout-md="column">

 
      <md-input-container class="blogsAdd" flex>
        <label style="color: #ffffff;">Post Title</label>
        <input type="text" ng-model="b.title"/>
      </md-input-container>
  <md-input-container class="blogsAdd" flex>
        <label style="color: #ffffff;">Author</label>
        <input type="text" ng-model="b.author"/>
      </md-input-container>
      <md-input-container class="blogsAdd" flex>
        <label style="color: #ffffff;">Date</label>
        <input type="text" ng-model="b.date"/>
      </md-input-container>
      
</div>

  <!-- Enters Website Address -->
       <md-input-container class="blogsAdd">
        <label style="color: #ffffff;">Content</label>
        <textarea type="text" ng-model="b.content"></textarea>
      </md-input-container>





<div layout layout-md="column">
    <md-input-container class="blogsAdd" flex>
        <label style="color: #ffffff;">Post Serial Number</label>
        <input type="text" ng-model="b.serialnumber"/>
      </md-input-container>

</div>
       
       

       
        <div class="buttonlog">
 <md-button class="md-raised">Save Changes</md-button>

 </div>

    </form>
 <md-button class="md-raised" ng-click="deleteMe(g.objectId, $index)" ng-controller="GigCtrl">Delete Gig</md-button>