

<header>
	<div class="head-left">
		<a ui-sref="portal"><h2>SS Live Portal</h2></a>
	</div>

		

	<div class="head-right">
		<span><a ui-sref="portal">Home</a></span>
		<span><a ui-sref="portal.songList">Songs</a></span>
		<span><a ui-sref="portal.venueList">Venues</a></span>
		<span><a ui-sref="portal.gigList">Gigs</a></span>
		<span><a ui-sref="portal.sets">Sets</a></span>


	

      <span><a><md-select class="topnavselect" ng-model="s.web" placeholder="Web CMS">
        <md-option ui-sref="portal.about">Band</md-option>
        <md-option ui-sref="portal.addset">Media</md-option>
        <md-option ui-sref="portal.mailing">Mailing List</md-option>

     
      </md-select></a></span>



      
	</div>
</header><!-- /header -->