<div class="loginpage">


<h2>Secret Sauce Live  <br> Portal Log-In</h2>

<form ng-submit="loginUser(userObj)">
  <br />

  	<md-input-container class="inputlog">
        <label>Email</label>
   <input type="text" ng-model="userObj.username"/><br />

      </md-input-container>
      <md-input-container class="inputlog">
        <label>Password</label>
  
  <input type="password" ng-model="userObj.password"/><br />
      </md-input-container>
 

 <div class="buttonlog">
 <md-button class="md-raised">Login</md-button>
 </div>
</form>



</div>
<!-- <small><a href="/#/register">Sign up</a></small> -->