<div class="loginpage">

<h2>Create An Account</h2>

<form ng-submit="registerUser(userObj)">
 <md-input-container class="inputlog">
        <label>Name</label>
  <input type="text" ng-model="userObj.name"/><br />
      </md-input-container>

<md-input-container class="inputlog">
        <label>Email</label>
   <input type="text" ng-model="userObj.username"/><br />

      </md-input-container>
      <md-input-container class="inputlog">
        <label>Password</label>
  <input type="password" ng-model="userObj.password"/><br />
      </md-input-container>
 
  <div class="buttonlog">
 <md-button class="md-raised">Sign-Up</md-button>
 </div>
</form>

</div>